.container {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.cities {
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 24px;
  font-weight: bold;
}
select {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

body {
  background-color: #f5f1fe;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  text-align: center;
}
